<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
        <legend><h2>{{question.questionText}}</h2></legend> 
        <p><strong>{{ errorMessage }}</strong></p>
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice {{ forloop.counter }}" value="{{ choice.id }}"> 
            <label for="choice">{{ choice.choiceText }}</label><br>
        {% endfor %}
        </fieldset>
        <input type="submit" value="submit">
    </form>
</body>
</html>