<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'polls/style.css' %}">
</head>

<body>
    {% if questionsList %}
    <ul>
        {% for question in questionsList %}
            <li><a href=" {% url 'polls:detail' question.id %}">{{question.questionText}}</a></li> 
        {% endfor %}
    </ul>
    {% else %}
        <p>No questions available for now</p>
    {% endif %}
</body>

</html>
