<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ question.questionText }}</h2> 
    <table>
        {% for choice in question.choice_set.all %}
            <tr>
                <td>{{ choice.choiceText }}</td>
                <td>{{ choice.votes }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'polls:detail' question.id %}">Vote again ?</a>
</body>
</html>